<div *ngIf="isShowForm; else elseBlock">

    <div class="p-grid">
        <div class="p-col">
            <h5>Nome</h5>
            <span class="p-float-label">
                <input id="float-nome" type="text" pInputText [(ngModel)]="parceiroEntity.nome"
                    style="width:94%;">
                <label for="float-nome">Nome</label>
                <button pButton pRipple icon="pi pi-search" Class="p-button-outlined" (click)="doChangeTela(true)"></button>
            </span>
        </div>
        <div class="p-col-6">
            <h5>E-mail</h5>
            <span class="p-float-label">
                <input id="float-email" type="text" pInputText [(ngModel)]="parceiroEntity.email"
                    style="width:100%;">
                <label for="float-email">E-mail</label>
            </span>
        </div>        
    </div>

        <div class="p-grid">
            <div class="p-col-3">
                <h5>Cep</h5>
                <span class="p-float-label">
                    <p-inputMask id="float-cep" [(ngModel)]="cep" mask="99-999-999" slotChar=" "  [unmask]="true" ></p-inputMask>
                    <button pButton pRipple icon="pi pi-search" Class="p-button-outlined" (click)="doChangeTelaLocalizacao()" ></button>
                    <label for="float-cep">Cep</label>
                </span>
            </div>

            <div class="p-col-3">
                <h5>Logradouro</h5>
                <span class="p-float-label">
                    <input id="float-logradouro" type="text" pInputText [(ngModel)]="logradouro"
                        style="width:100%;" disabled>
                    <label for="float-logradouro">Logradouro</label>
                </span>
            </div>

            <div class="p-col-3">
                <h5>Localidade</h5>
                <span class="p-float-label">
                    <input id="float-localidade" type="text" pInputText [(ngModel)]="localidade"
                        style="width:100%;" disabled>
                    <label for="float-localidade">Localidade</label>
                </span>
            </div>
            <div class="p-col-3">
                <h5>Bairro</h5>
                <span class="p-float-label">
                    <input id="float-bairro" type="text" pInputText [(ngModel)]="bairro"
                        style="width:100%;" disabled>
                    <label for="float-bairro">Bairro</label>
                </span>
    
            </div>            

        </div>

    <div class="p-grid">

        <div class="p-col-6">
            <h5>Razão</h5>
            <span class="p-float-label">
                <input id="float-razao" type="text" pInputText [(ngModel)]="parceiroEntity.razao"
                    style="width:100%;">
                <label for="float-razao">Razão</label>
            </span>
        </div>        
 
        <div class="p-col-6 p-md-3">
            <h5>CNPJ</h5>
            <span class="p-float-label">
                <p-inputMask id="float-cnpj" [(ngModel)]="parceiroEntity.cnpj" mask="99.999.999/9999-99" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-cnpj">CNPJ</label>
            </span>
        </div>
        <div class="p-col-6 p-md-3">
            <h5>Inscrição</h5>
            <span class="p-float-label">
                <p-inputMask id="float-inscricao" [(ngModel)]="parceiroEntity.inscricao" mask="999.9999.999-999" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-cnpj">Inscrição</label>
            </span>
        </div>

    </div>

    <div class="p-grid">
        <div class="p-col-2">
            <h5>Telefone</h5>
            <span class="p-float-label">
                <p-inputMask id="float-fone" [(ngModel)]="parceiroEntity.fone" mask="(99)99999-9999" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-fone">Telefone</label>
            </span>
        </div>        
    
        <div class="p-col-2">
            <h5>Celular</h5>
            <span class="p-float-label">
                <p-inputMask id="float-celular" [(ngModel)]="parceiroEntity.celular" mask="(99)99999-9999" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-celular">Celular</label>
            </span>
        </div>            
        
        <div class="p-col-2">
            <h5>É WhatsApp</h5>
            <span class="p-float-label">
                <p-inputSwitch [(ngModel)]="parceiroEntity.celularIsWhatsApp"></p-inputSwitch>
            </span>
        </div>            

        <div class="p-col-2">
            <h5>Sexo</h5>
            <p-dropdown [options]="lstSexo" [(ngModel)]="parceiroEntity.sexoId" placeholder="Select" optionLabel="nome" optionValue="id"></p-dropdown>
        </div>   
        <div class="p-col-6 p-md-2">
            <h5>CPF</h5>
            <span class="p-float-label">
                <p-inputMask id="float-cpf" [(ngModel)]="parceiroEntity.cpf" mask="999.999.999-99" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-cpf">CPF</label>
            </span>
        </div>
        <div class="p-col-6 p-md-2">
            <h5>Identidade</h5>
            <span class="p-float-label">
                <input id="float-identidade" type="text" pInputText [(ngModel)]="parceiroEntity.identidade">
                <label for="float-cnpj">Identidade</label>
            </span>
        </div>
    </div>

    <div class="p-grid">

        <div class="p-col-6">
            <h5>Contato</h5>
            <span class="p-float-label">
                <input id="float-contato" type="text" pInputText [(ngModel)]="parceiroEntity.contato" 
                style="width:100%;">
                <label for="float-contato">Contato</label>
            </span>
        </div>

        <div class="p-col-2">
            <h5>Fone Contato</h5>
            <span class="p-float-label">
                <p-inputMask id="float-foneContato" [(ngModel)]="parceiroEntity.foneContato" mask="(99)99999-9999" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-foneContato">Fone Contato</label>
            </span>
        </div>            

        <div class="p-col-2">
            <h5>Celular do Contato</h5>
            <span class="p-float-label">
                <p-inputMask id="float-celularContato" [(ngModel)]="parceiroEntity.celularContato" mask="(99)99999-9999" slotChar=" "  [unmask]="true"></p-inputMask>
                <label for="float-celularContato">Celular do Contato</label>
            </span>
        </div>            
                    
        <div class="p-col-2">
            <h5>É WhatsApp</h5>
            <span class="p-float-label">
                <p-inputSwitch [(ngModel)]="parceiroEntity.celularContatoIsWhatsApp"></p-inputSwitch>
            </span>
            
        </div>            

    </div>    

    <p-divider></p-divider>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton icon="pi pi-plus"   Class="p-button-outlined" (click)="doAdicionar()" label="Adicionar"></button>
        <button pButton icon="pi pi-check"  Class="p-button-outlined" (click)="doAtualizar()" label="Atualizar"></button>
        <button pButton icon="pi pi-trash"  Class="p-button-outlined" (click)="doApagar()" label="Apagar"></button>
    </div>

</div>

<ng-template  #elseBlock>
    <div *ngIf="isShowForm">
        <app-parceiro-lista 
        (isShowGridChange)='doChangeTela($event)'
        (parceiroEntityChange)='displayParceiro($event)'
        ></app-parceiro-lista>
    </div>
    <!-- 
    <div *ngIf="isShowGridCep; else elseBlock">
        <app-localizacao-lista 
        (isShowGridChange)='doChangeTela($event)'
        (localizacaoEntityChange)='displayLocalizacao($event)'
        ></app-localizacao-lista>

    </div> 
    -->
</ng-template>

