<div *ngIf="isShowForm; else elseBlock">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-grid">
                <div class="p-col">
                    <h5>Nome</h5>
                    <span class="p-float-label">
                        <input id="float-nome" type="text" pInputText [(ngModel)]="produtoModeloEntity.nome"
                            style="width:94%;">
                        <label for="float-nome">Nome</label>
                        <button pButton pRipple icon="pi pi-search" Class="p-button-outlined"
                            (click)="doChangeTelaProdutoModelo()"></button>
                    </span>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <h5>Produto acabado</h5>
                    <span class="p-float-label">
                        <input id="float-produtoAcabado" type="text" pInputText [(ngModel)]="nomeProdutoAcabado"
                            style="width:94%;" disabled>
                        <label for="float-idprodutoAcabado">Produto acabado</label>
                        <button pButton pRipple icon="pi pi-search" Class="p-button-outlined"
                            (click)="doChangeTelaProdutoAcabado()"></button>
                    </span>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col">
                    <h5>Produto Base</h5>
                    <span class="p-float-label">
                        <input id="float-produtoBase" type="text" pInputText [(ngModel)]="nomeProdutoBase"
                            style="width:94%;" disabled>
                        <label for="float-idprodutoBase">Produto base</label>
                        <button pButton pRipple icon="pi pi-search" Class="p-button-outlined"
                            (click)="doChangeTelaProdutoBase()"></button>
                    </span>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-4">
                    <h5>Largura</h5>
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="produtoModeloEntity.largura" inputId="locale-user"
                            [minFractionDigits]="2"></p-inputNumber>
                        <label for="float-nome">Largura</label>
                    </span>
                </div>
                <div class="p-col-4">
                    <h5>Comprimento</h5>
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="produtoModeloEntity.comprimento" inputId="locale-user"
                            [minFractionDigits]="2"></p-inputNumber>
                        <label for="float-nome">Comprimento</label>
                    </span>
                </div>

                <div class="p-col-4">
                    <h5>Espessura</h5>
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="produtoModeloEntity.espessura" inputId="locale-user"
                            [minFractionDigits]="2"></p-inputNumber>
                        <label for="float-nome">Espessura</label>
                    </span>
                </div>

            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-grid">
                <p-tabView>
                    <p-tabPanel header="Imagem" [selected]="true">
                        <div class="p-grid">
                            <p-image [src]="imageSrc" alt="Image" width="250" [preview]="true" *ngIf="imageSrc"></p-image>
                        </div>
                        <p-divider></p-divider>
    
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
    
                            <span style="color:red;" *ngIf="messageImagem">{{messageImagem}}</span>
                            <label for='selecao-arquivo' pButton Class="p-button-outlined">Selectionar</label>
                            <input #file type="file" accept='image/*' (change)="preview(file.files)" style="display:none;"
                                id='selecao-arquivo' />
    
                            <button pButton icon="pi pi-trash" Class="p-button-outlined" (click)="doApagarImagem()"
                                label="Apagar"></button>
                        </div>
    
                    </p-tabPanel>
    
                    <p-tabPanel header="Componentes">
                        <app-produto-modelo-compon produtoModeloId={{produtoModeloEntity.id}}>
                        </app-produto-modelo-compon>
                    </p-tabPanel>
                </p-tabView>
    
            </div>

        </div>

    </div>

    <p-divider></p-divider>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton icon="pi pi-plus" Class="p-button-outlined" (click)="doAdicionar()" label="Adicionar"></button>
        <button pButton icon="pi pi-check" Class="p-button-outlined" (click)="doAtualizar()" label="Atualizar"></button>
        <button pButton icon="pi pi-trash" Class="p-button-outlined" (click)="doApagar()" label="Apagar"></button>
    </div>
</div>

<ng-template #elseBlock>
    <div *ngIf="isShowGridProdutoModelo">
        <app-produto-modelo-lista (isShowGridChange)='doChangeTelaProdutoModelo()'
            (produtoModeloEntityChange)='displayProdutoModelo($event)'></app-produto-modelo-lista>
    </div>

    <div *ngIf="isShowGridProdutoAcabado">
        <app-produto-lista (isShowGridChange)='doChangeTelaProdutoAcabado()'
            (produtoEntityChange)='displayProdutoAcabado($event)'></app-produto-lista>
    </div>

    <div *ngIf="isShowGridProdutoBase">
        <app-produto-lista (isShowGridChange)='doChangeTelaProdutoBase()'
            (produtoEntityChange)='displayProdutoBase($event)'></app-produto-lista>
    </div>

</ng-template>