<div class="card">
    <p-table #dt [value]="lstProdutoModelo" [paginator]="true" [rows]="5" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
        [showCurrentPageReport]="true" 
        currentPageReportTemplate="De {first} a {last} de {totalRecords}"
        [rowsPerPageOptions]="[5,10,15,20,50]"
        [globalFilterFields]="['nome']"
        >

        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="strFilter" (input)="dt.filterGlobal(applyFilterGlobal(), 'contains')" placeholder="Filter" />
                </span>
                <p-button type="button" icon="pi pi-search-minus" styleClass="p-button-outlined" (click)="doClear(dt)">
                </p-button>                   
                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-outlined" (click)="doShowGridChanged()">
                </p-button>
                <p-button type="button" icon="pi pi-refresh" styleClass="p-button-outlined" (click)="doAtualizarPesquisa()">
                </p-button>                   
            </div>
        </ng-template>        
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Largura</th>
                <th>Comprimento</th>
                <th>Espessura</th>
                <th>Altura</th>
                <th>Imagem</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produtoModeloItem>
            <tr>
                <td>{{produtoModeloItem.nome}}</td>
                <td>{{produtoModeloItem.largura | number }}</td>
                <td>{{produtoModeloItem.comprimento | number }}</td>
                <td>{{produtoModeloItem.espessura | number }}</td>
                <td>{{produtoModeloItem.altura | number }}</td>
                <td>
                    <img src={{produtoModeloItem.imagemsrc}} width="50" style="vertical-align: middle">
                </td>
                
                <td>
                    <button pButton pRipple icon="pi pi-check" Class="p-button-outlined" (click)="doSelecionarItem(produtoModeloItem)"></button>
                </td>                
            </tr>
        </ng-template>
    </p-table>
</div>