<div *ngIf="isShowForm">
    <p>colocar o formulario da receita aqui...</p>

    <div class="p-grid">
        <div class="p-col-1">
            <h5>Receita</h5>
            <span class="p-float-label">
                <p-inputSwitch [(ngModel)]="financeiroEntity.recDesp"></p-inputSwitch>
            </span>
        </div>
        <div class="p-col-11">
            <h5>Id Parceiro</h5>
            <span class="p-float-label">
                <input id="float-idparceiro" type="text" pInputText [(ngModel)]="financeiroEntity.parceiroId">
                <label for="float-idparceiro">Id Parceiro</label>
                <button pButton pRipple icon="pi pi-search" Class="p-button-outlined" (click)="doPesquisar()"></button>

                <input id="float-parceiro" type="text" pInputText [(ngModel)]="nomeParceiro" style="width:79%;">

            </span>

        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-2">
            <h5>Dt.Movimento</h5>
            <span class="p-float-label">
                <input id="float-movimento" type="date" pInputText [(ngModel)]="financeiroEntity.dtMovimento">
            </span>
        </div>
        <div class="p-col-2">
            <h5>Dt.Vencimento</h5>
            <span class="p-float-label">
                <input id="float-vencimento" type="date" pInputText [(ngModel)]="financeiroEntity.dtVencimento">
            </span>
        </div>
        <div class="p-col-8">
            <h5>Histórico</h5>
            <span class="p-float-label">
                <input id="float-historico" type="text" pInputText [(ngModel)]="financeiroEntity.historico"
                    style="width:97%;">
                <label for="float-historico">Histórico</label>
            </span>
        </div>

    </div>

    <div class="p-grid">

        <div class="p-col-2">
            <h5>Valor</h5>
            <span class="p-float-label">
                <input id="float-valor" type="text" pInputText [(ngModel)]="financeiroEntity.vlrFinanceiro">
                <label for="float-valor">Valor</label>
            </span>
        </div>
        <div class="p-col-2">
            <h5>Baixado</h5>
            <span class="p-float-label">
                <p-inputSwitch [(ngModel)]="financeiroEntity.baixado"></p-inputSwitch>
            </span>
        </div>
        <div class="p-col-2">
            <h5>Dt.Baixa</h5>
            <span class="p-float-label">
                <input id="float-vencimento" type="date" pInputText [(ngModel)]="financeiroEntity.dtBaixa">
            </span>
        </div>

    </div>

    <p-divider></p-divider>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton icon="pi pi-plus" Class="p-button-outlined" (click)="doAdicionar()" label="Adicionar"></button>
        <button pButton icon="pi pi-check" Class="p-button-outlined" (click)="doAtualizar()" label="Atualizar"></button>
        <button pButton icon="pi pi-trash" Class="p-button-outlined" (click)="doApagar()" label="Apagar"></button>
    </div>
</div>
<div *ngIf="isShowGrid" class="card">
    <p>colocar a grade de pesquisa da receita aqui...</p>
    <p-table #dt [value]="lstLocalizacoes" [paginator]="true" [rows]="5" dataKey="id" styleClass="p-datatable-gridlines"
        [showCurrentPageReport]="true" currentPageReportTemplate="De {first} a {last} de {totalRecords}"
        [rowsPerPageOptions]="[5,10,15,20,50]"
        [globalFilterFields]="['cep','logradouro','localidade','bairro', 'uf.nome', 'uf.sigla']">

        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="strFilter"
                        (input)="dt.filterGlobal(applyFilterGlobal(), 'contains')" placeholder="Filter" />
                </span>
                <p-button type="button" icon="pi pi-search-minus" styleClass="p-button-outlined" (click)="doClear(dt)">
                </p-button>
                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-outlined"
                    (click)="doAlternarTela()">
                </p-button>
                <p-button type="button" icon="pi pi-refresh" styleClass="p-button-outlined"
                    (click)="doAtualizarPesquisa()">
                </p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Receita</th>
                <th>Parceiro</th>
                <th>Dt.Vencimento</th>
                <th>Dt.Baixa</th>
                <th>Vlr.Financeiro</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-financeiroItem>
            <tr>
                <td>{{financeiroItem.receita}}</td>
                <td>{{financeiroItem.parceiroId}}</td>
                <td>{{financeiroItem.dtVencimento}}</td>
                <td>{{financeiroItem.dtBaixa}}</td>
                <td>{{financeiroItem.vlrFinanceiro}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" Class="p-button-outlined"
                        (click)="doSelecionarItem(financeiroItem)"></button>
                    <button pButton pRipple icon="pi pi-trash" Class="p-button-outlined"
                        (click)="doApagarItem(financeiroItem)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>